@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400&display=swap");

:root{
  --deep-orange:#F7C26C;
  --light-orange:#F2DAB4;
  --shadow:#D7A75A;
  --grey:#585852;
  --brown:#493112;
  
}

html {
  background-color: var(--light-orange);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.header{
  margin-bottom:2em;
  display:flex;
  align-items:center; 
  justify-content:flex-start;
  
}

.header img{
  width:60px;
  height:60px;
  /* border:5px solid white; */
  padding-right:15px;
}

.header a:last-child{ 
  font-size:12px;
  text-decoration:none;
  color:var(--brown); 
  /* border:1px solid var(--deep-orange); */
  background-color:var(--deep-orange);
  border-radius:5px;
  width:65px;
  text-align:center;

}

h1,
label {
  color: var(--brown);
  
}

label{
  font-size: 20px;
}


input {
  border:1px solid var(--grey);
  border-radius: 5px;
  padding: 5px;
  max-width:250px;
}

.container {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin:0 auto;
  width: 30em;
  padding:10px;
  background-color: var(--deep-orange);
  border-radius:7px;
  box-shadow:1px 7px 8px var(--shadow); 
}

.ListItem {
 width: 30em;
  color: var(--brown);
  text-align:center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  list-style-type:none;
  border-bottom:3px solid var(--light-orange);

}

.ListItem:last-child{
  border:none;
}

ul{
  padding:0;
}

.plus{ 
  background-color:var(--brown);
  padding:5px;
  width:50px;
  color:white;
}

button {
  border-radius: 7px;
  border:none;
  margin: 10px;
  padding: 5px;
  color:var(--brown);
  font-weight: bold;
  background-color: white;
  box-shadow:1px 7px 8px var(--brown);
}

button:hover {
  color: white;
  background-color: var(--brown);
  box-shadow: 2px 5px 10px var(--brown);
}

/* ---------Helpful Tips------ */
.TipsContainer{
  margin:0 auto;
  width: 30em;
  padding:10px;
  background-color: var(--deep-orange);
  border-radius:7px;
  box-shadow:1px 7px 8px var(--shadow); 
  padding:20px;
}

.TipsContainer h1{
  text-align:center;
  
}


/*-----------media queries---------*/

@media only screen and (max-width: 500px) {
  html {
    font-size: .5rem;
  }

  form{ 
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  
}
